<!DOCTYPE HTML>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#A5DBF7"/>

    <title>Ephemeral</title>
  </head>

  <body class="pa0 pa3-ns min-h-100 bg-beige-gray sans-serif">
    <div class="mw7-ns center bg-white min-vh-100">
      <div class="pv2 pv3-ns tc sticky bg-white top-0 z-9999 sticky">
        <a class="db h2 w4 h3-ns w5-ns muted-blue logo contain center bg-center" href="/" title="Go to Ephemeral homepage"></a>
      </div>
      <div id="mapid" class="h5 h6-ns bg-light-gray"></div>
      <div id="root" class="pb2 pb4-ns"></div>
    </div>
  </body>

</html>
