<!DOCTYPE HTML>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#A5DBF7"/>

    <title>Ephemeral</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
    integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
    crossorigin=""/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>

  <body class="pa3 min-h-100 bg-light-gray">
    <div class="mw7-ns center bg-white">
      <div class="pa3 tc">
        <h1 class="mv2 mv4-ns f2 f1-ns light-blue sans-serif fw5 handwriting">~~ Ephemeral ~~</h1>
      </div>
      <div id="mapid" class="h5 h6-ns"></div>
      <div id="root" class="pb2 pb4-ns"></div>
    </div>
  </body>

</html>
